<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-3.1.1.min.js" %}"> </script>
    <script src="{% static "js/csrf.js" %}"> </script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"> </script>
    <link href="{% static "kindeditor/themes/default/default.css" %}" rel="stylesheet">
<script src="{% static "kindeditor/kindeditor-all.js" %}"></script>
<script src="{% static "kindeditor/lang/zh-CN.js" %}"></script>
    <script src="{% static "js/base.js" %}"> </script>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>

<body>
    <div>
        <ul class="nav nav-tabs">
            <li>
                <a href="/index/">首页</a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">院系<span class="caret"></span></a>
              <ul id="department" class="dropdown-menu">
                {% for department in departments %}
                <li class="dropdown-submenu">
                    <a href="/department/{{ department.department.id }}/">{{ department.department.name }}</a>
                    <ul class="dropdown-menu">
                        {% for branch in department.branchs %}
                        <li><a href="/branch/{{ branch.id }}/">{{ branch.name }}</a></li>
                        {% endfor %}
                    </ul>  
                </li>
                {% endfor %}
              </ul>
            </li>

            {% if login %}
            <li>
                <a data-toggle="modal" data-target="#myModal" onclick="apply()">申请</a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">站内消息
                <span id="red_spot" style="height:10px;width:10px;border-radius:10px;display:inline-block;background:red;position:relative;top:-8px;"></span>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if login %}
                <li><a href="/message/">消息箱</a></li>
                <li class="divider"></li>
                <li><a data-toggle="modal" data-target="#myModal" onclick="send_message()">发送新消息</a></li>
                <li class="divider"></li>
                {% for message in unread_messages %}
                <li><a type="message" mid="{{ message.id }}" data-toggle="modal" data-target="#myModal" onclick="read_message(this)">{{ message.title }}</a></li>
                {% endfor %}
                {% ifequal unread_messages_length 0 %}
                <li><a style="color:#aaaaaa">没有未读消息</a></li>
                {% endifequal %}
                {% endif %}
              </ul>
            </li>

            <li>
                <a href="/profile/">{{ suser.username }}</a>
            </li>

            <li>
                <a data-toggle="modal" data-target="#myModal" onclick="logout()">登出</a>
            </li>
            {% else %}
            <li>
                <a data-toggle="modal" data-target="#myModal" onclick="login()">登录</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% block context %}
        添加内容
    {% endblock context %}
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header" align="center">
            <h4 class="modal-title" id="myModalLabel" >  </h4>
          </div>
          <div class="modal-body" id="myModal_body"> 
           
          </div>
          <div class="modal-footer">
            <button id="myModelNo" type="button" class="btn btn-default " data-dismiss="modal" onclick="cancel()" > 取消 </button>
            <button id="myModelYes" type="button" class="btn btn-primary">确认</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>