{% extends "base.html" %}
	{% load static %}
    {% block context %}
    <div class = "row">
      <div style="width: 90%; margin: 0 auto;">
            <div class="btn-toolbar" role="toolbar" style="width: 50%; margin: 10px 0px 0px 0px; float: left">
            
            {% if is_admin %}
              <div class="btn-group" style="margin-left: 0px">
                <button class="btn" style="background-color: #4D0B7D;color: #fff;" onclick="window.location.href='/handbook/b/{{ branch.id }}'">新建团支部工作手册</button>
              </div>
              <div class="btn-group">
                <button class="btn" style="background-color: #4D0B7D;color: #fff;" id="jiatuan" onclick="window.location.href='/jiatuan/b/{{ branch.id }}'">校甲团材料提交</button>
              </div>
              <div class="btn-group">
                <button class="btn" style="background-color: #4D0B7D;color: #fff;" id="load_member()" data-toggle="modal" data-target="#myModal" onclick="load_member()">导入支部成员名单</button>
              </div>
            {% endif %}
            
            </div>
            <div style="float: right;">
                <h5 >
                  <p style="color: black; "><span class="glyphicon glyphicon-home" style="margin-right: 1px"></span> {{ branch.name }} </p>
                </h5>
                
            </div>
        </div>
    </div>
    <div class="row">
      <div style="width: 90%; margin: 0 auto;">
        <hr style="border-color: #4D0B7D; margin: 0px 0px 20px 0px; border-width: 2px">
      </div>
    </div>
    <script src="{% static "js/branch.js" %}"> </script>
    <div class = "row">
        <div style="height: 400px;width: 90%;margin:0 auto;">
            <div style="width: 18%;height: 100%;float:left;margin-right: 2%;border:2px solid  #663300">
                <table style="table-layout:fixed;width: 90%;margin-left: 5%;margin-right:90%;">
                    <thead>
                        <tr>
                            <th align="center"><h5 style="background: #4D0B7D; width: 50%"><p style="color: white; padding: 6px">近期新闻</p></h5>
                            <hr style="border-color: #9750CA">
                            </th>
                        </tr>
                    </thead>
                    <tbody style="display:block; height:280px">
                        
                        {% for news in news_list %}
                        <tr>
                        <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><a href="/news/{{ news.id }}/"> {{ news.title }} </a></td>
                        </tr>
                        {% endfor %}

                    <tfoot>
                        <tr>
                          {% if is_admin %}
                          <td style="float:left"> <button class="btn" style="padding:2px 10px 2px 10px;color: #4D0B7D;" id="release_news" data-toggle="modal" data-target="#myModal" onclick="release_n()"><span class="glyphicon glyphicon-plus"></span></button></td>
                          {% endif %}
                          <td style="float:right"> <a href='/news_list/b/{{ branch.id }}/'><button class="btn" style="padding:2px 10px 2px 10px;background-color: #4D0B7D; color: #fff;"> 显示更多</button> </a> </td>
                        </tr>
                    </tfoot>

                    </tbody>
                </table>
            </div>
            <div style="width: 80%;float:left">
                 <!-- begin of carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    {% for slide in slide_list %}
                    <li sid={{ slide.id }} data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} ></li>
                    {% endfor %}
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox" style="height: 400px">
                    {% for slide in slide_list %}
                    <div class="item {% if forloop.first %} active {% endif %}" style="height: 100%">
                      <img src="{{ slide.img_path }}" style="height: 100%;margin:0 auto">
                      <div class="carousel-caption shadeDivWrap">
                        <div class="shadeDiv"></div>
                        <p>{{ slide.title }}<br>{{ slide.text }}</p>
                        <!--<p>{{ slide.text }}</p>-->
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  {% if is_admin %}
                  <a class="carousel-control" style="margin-top:20px; margin-left:88%; height:50px" href='/slide_list/b/{{ branch.id }}/'>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  </a>
                  {% endif %}
                </div>
                <!-- end of carousel -->  
                </div>
            </div>
    </div>

        
    <input type='hidden' id='csrf_token' value='{{ csrf_token }}'>


    {% endblock context %}