{% extends "base.html" %}
	{% load static %}
    {% block context %}
    <script src="{% static "js/department.js" %}"> </script>

    <h3> {{ department.name }} </h3>
    <br/>
    <button class="btn btn-primary"  id="add_branch" data-toggle="modal" data-target="#myModal" onclick="add_b()">添加团支部</button>
    <br/>

    {% for branch in branchs %}
    <a href="/branch/{{ branch.id }}/">{{ branch.name }}</a>
    <br/>
    {% endfor %}

    {% if is_admin %}
    <br/>
    <a href="/handbook/d/{{ department.id }}">新建院系工作手册</a>
    <br/>
    <a  id="review" data-toggle="modal" data-target="#myModal" onclick="review_b()">审阅团支部工作手册</a>
    <br/>
    <a id="release_news" data-toggle="modal" data-target="#myModal" onclick="release_n()">发布新闻</a>
    {% endif %}
    

    <br/>
    <br/>
    <p>新闻</p>
    <div>
        {% for news in news_list %}
        <a href="/news/{{ news.id }}/"> {{ news.title }} </a>
        <br/>
        {% endfor %}
    </div>
    {% endblock context %}