{% extends "base.html" %}
	{% load static %}
    {% block context %}
    <script src="{% static "js/department.js" %}"> </script>

    <h3> {{ department.name }} </h3>
    <br/>
    <button class="btn btn-primary"  id="add_branch" data-toggle="modal" data-target="#myModal" onclick="add_b()">添加团支部</button>
    <br/>

    {% for branch in branchs %}
    <a href="/branch/{{ branch.id }}/">{{ branch.name }}</a>
    <br/>
    {% endfor %}

    {% if is_admin %}
    <br/>
    <button class="btn btn-primary"><a href="/handbook/d/{{ department.id }}" style="color:#ffffff;text-decoration:none">新建院系工作手册</a></button>
    <br/>
    <button class="btn btn-primary" id="review" data-toggle="modal" data-target="#myModal" onclick="review_b()">审阅团支部工作手册</button>
    {% endif %}
    
    {% endblock context %}