{% extends "base.html" %}
    {% block context %}
      
    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
	    <div class="modal-content">
	      <div class="modal-header" align="center">
	        <h4 class="modal-title" id="myModalLabel" >  </h4>
	      </div>
	      <div class="modal-body" id="myModal_body"> 
	       
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default " data-dismiss="modal" > 关闭 </button>
	        <button type="button" class="btn btn-primary">确认</button>
	      </div>
	    </div>
	  </div>
	</div>
    {% endblock context %}