{% extends "base.html" %}
	{% load static %}
    {% block context %}
    <script src="{% static "js/index.js" %}"> </script>
    <script src="{% static "js/html2canvas.js" %}"> </script>
    
    <div class = "row">
        {% if suser.admin_school %}
        <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" id = "op_list">
            <li class="active">
                <a id="add_department" data-toggle="modal" data-target="#myModal" onclick="add_d()">添加院系</a>
            </li>
            <li>
                <a id="review" data-toggle="modal" data-target="#myModal" onclick="review_d()">审阅院系工作手册</a>
            </li>
            <li>
                <a id="release_news" data-toggle="modal" data-target="#myModal" onclick="release_n()">发布新闻</a>
            </li>
        </ul>
        </div>
        {% endif %}
        <div class="col-md-7" id="pdf_area">
        
        <!-- begin of carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 400px;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" style="height: 400px">
            <div class="item active" style="height: 100%">
              <img src="/media/news_1.jpg" style="width: 100%">
              <div class="carousel-caption">
                <h3>第一页</h3>
                <p>这是第一页的描述文本</p>
              </div>
            </div>
            <div class="item" style="height: 100%">
              <img src="/media/news_2.jpg" style="width: 100%">
              <div class="carousel-caption">
                <h3>第二页</h3>
                <p>这是第二页的描述文本</p>
              </div>
            </div>
            <div class="item" style="height: 100%">
              <img src="/media/news_3.jpg" style="width: 100%">
              <div class="carousel-caption">
                <h3>第三页</h3>
                <p>这是第三页的描述文本</p>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- end of carousel -->

        </div>
        <div class="col-md-3" >
            <table class="table">
                <thead>
                    <tr>
                        <th>近期新闻</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for news in news_list %}
                    <tr>
                    <td><a href="/news/{{ news.id }}/"> {{ news.title }} </a></td>
                    <td>
                        23:33 12/22/2017
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </div>
    
    
    {% endblock context %}